---
import PageLayout from "@layouts/PageLayout.astro";
export const prerender = true;
// @ts-ignore
import { getCollection, render } from 'astro:content';
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { id: project.id },
    props: { project }
  }));
}

const { project } = Astro.props;;
const { Content, headings } = await render(project);
---

<PageLayout title={project.data.title}>
  <h1>{project.data.title}</h1>
<Content />
</PageLayout>