---
import { getCollection } from 'astro:content';
import PageLayout from "@layouts/PageLayout.astro";
import '@styles/custom.css';
import '@styles/lightbox.css';
import LightBox from '@components/Media/LightBox.astro';
import type { CollectionEntry } from 'astro:content';
import { GetInTouchDialog } from '@components/GetInTouchDialog';
import PricingAndInfoSection from '@components/Content/PricingAndInfoSection.astro';
import TechGrid from "@components/ContentBoxes/TechGrid.astro";
import pageSpeedScoreMobile from '@images/galleries/simongreer-co-uk-pagespeed-scores/simongreer-co-uk-pagespeed-mobile-score.png'; 
import pageSpeedScoreDesktop from '@images/galleries/simongreer-co-uk-pagespeed-scores/simongreer-co-uk-pagespeed-desktop-score.png'; 
import { 
  Layers, Newspaper, SquareLibrary, Store, Cog, Bot, ShoppingCart, Database, Workflow, Network, Server,
  Paintbrush, Code, Rocket, Box, FileJson, FileType2, ArrowRightLeft, Globe, Terminal, PackageOpen,
  AppWindow, ServerCog, MonitorSmartphone, DatabaseBackup, ChevronRight} from 'lucide-react';
import WordpressIcon from '@components/Icons/WordpressIcon.astro';
import { Badge } from '@components/ui/badge';
type TechWithStringTags = Omit<CollectionEntry<'tech'>, 'data'> & {
  data: Omit<CollectionEntry<'tech'>['data'], 'tags'> & {
    tags: string[] | undefined
  }
};

const techs = (await getCollection('tech'))
  .filter((tech) => 
    tech.data.pubDate && tech.data.hireme_filter === 'web-development'
  )
  .map((tech) => ({
    ...tech,
    data: {
      ...tech.data,
      tags: tech.data.tags?.map(tag => tag.id)
    }
  })) as TechWithStringTags[];
---

<PageLayout title="Tech Stuff">
  
<section class="my-2 px-6 md:pr-0 pl-0">

  <div class="grid grid-cols-10 md:gap-5">

    <div class="col-span-3 border-[#dcdde0] dark:bg-background dark:border-neutral-800 dark:text-gray-200 rounded-lg bg-white text-gray-800 border my-3 flex flex-col items-center">
      <div class="w-full border-b border-[#dcdde0] dark:border-neutral-800 px-8 py-2 ">
        <h2 class="text-xl font-bold mb-0 dark:text-themepurple">
          Vendors &amp; Products
        </h2>
      </div>
      <TechGrid techs={techs} />
      <div class="w-full px-8">
        <div class="w-full mb-2">
          <span class="text-sm font-bold mb-2 text-gray-900 dark:text-themepurple">Hire Me For:</span>
          <p class="text-xs">
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <ShoppingCart className="w-4 h-4" />Ecommerce
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Database className="w-4 h-4" />Headless CMS
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Workflow className="w-4 h-4" />Workflow Automation
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Bot className="w-4 h-4" />AI Integration
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Network className="w-4 h-4" />API Integration
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Server className="w-4 h-4" />Server Management
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Paintbrush className="w-4 h-4" />TailwindCSS
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Code className="w-4 h-4" />React
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Rocket className="w-4 h-4" />AstroJS
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Box className="w-4 h-4" />Directus
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <FileJson className="w-4 h-4" />JavaScript
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <FileType2 className="w-4 h-4" />TypeScript
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Store className="w-4 h-4" />MedusaJS
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <ArrowRightLeft className="w-4 h-4" />Wordpress Migration
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <WordpressIcon class="w-4 h-4" fill="#ffffff" />Wordpress As CMS
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Layers className="w-4 h-4" />Full Stack
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Terminal className="w-4 h-4" />Deno
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <PackageOpen className="w-4 h-4" />Bun
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <AppWindow className="w-4 h-4" />Web Apps
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <ServerCog className="w-4 h-4" />Backend
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <MonitorSmartphone className="w-4 h-4"/>Frontend
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <DatabaseBackup className="w-4 h-4" />SQL DBs
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <DatabaseBackup className="w-4 h-4" />NoSQL DBs
            </Badge>
            <Badge variant="secondary" className="inline-flex items-center gap-1">
              <Globe className="w-4 h-4" />Nginx
            </Badge>
          </p>
        </div>
      </div>
      <div class="w-full p-6">
        <GetInTouchDialog client:only="react"/>
      </div>
      <div class="flex flex-row gap-3 p-2">
      <div class="w-full p-0">
        <LightBox src={pageSpeedScoreMobile}
        alt="Mobile PageSpeed Score"
        width={120}
        class="my-4 border drop-shadow-md dark:border-0"
        caption="Mobile  PageSpeed Score"
        fontSize="9px"
      />
      </div>
      <div class="w-full p-0">
        <LightBox src={pageSpeedScoreDesktop}
        alt="Desktop PageSpeed Score"
        width={120}
        class="my-4 border drop-shadow-md dark:border-0"
        caption="Desktop PageSpeed Score"
        fontSize="9px"
      />
      </div>
      </div>
    </div>

    <div class="col-span-7 border border-[#dcdde0] rounded-lg bg-white text-gray-900 my-3 dark:bg-background dark:border-neutral-800 dark:text-primary">

      <div class="w-full border-b border-[#dcdde0] dark:border-neutral-800 px-8 py-2 ">
        <h2 class="text-xl font-bold mb-0 dark:text-themepurple">
          Web Development
        </h2>
      </div>

      <div class="w-full p-8">
        <div class="py-1 flex flex-col gap-2">
          <p class="text-sm mb-3">
            I'm a web developer, designer and systems engineer with a strong focus on cutting edge open source technologies, frameworks and libraries predominantly in the Javascript eco-system. I have built full stack, database-driven web applications, ecommerce solutions and lightning fast statically generated content-centric websites.
          </p>
        </div>

        <div class="py-1 flex flex-col gap-2">
          <div class="flex flex-row items-center gap-2 mb-1">
            <Newspaper className="text-themepink w-6" />
            <h5 class="text-base text-themepink font-bold m-0">
              Content-Driven Websites
            </h5>
          </div>
          <p class="text-sm mb-3">
            Over the last couple of years I've been using AstroJS for content-driven websites. Astro is a next generation Javascript framework that allows developers to build blazingly fast, standards-based websites that provide an exceptional end user experience. Astro orchestrates components and tooling from other well-known frameworks and technologies and bundles them into a tiny, performance-optimised package.
          </p>
        </div>

        <div class="py-1 flex flex-col gap-2">
          <div class="flex flex-row items-center gap-2">
            <SquareLibrary className="text-themepink w-6" />
            <h5 class="text-base text-themepink font-bold m-0">
              Content Management
            </h5>
          </div>
          <p class="text-sm mb-3">
            Unlike other, ancient PHP-based web frameworks that try to be all things to all men, Astro is a frontend framework. It does not have an admin panel for adding content; instead it takes the more modern approach of being easily integrated into headless applications such as CMS. There are lots of great CMS options but I've found Directus to offer a superb developer experience whilst being ridiculously easy to adapt for non-technical users. Astro and Directus can be integrated simply and easily giving you the freedom to structure your content in whichever way you see fit.
          </p>
        </div>

        <div class="py-1 flex flex-col gap-2">
          <div class="flex flex-row items-center gap-2">
            <Store className="text-themepink w-6" />
            <h5 class="text-base text-themepink font-bold m-0">
              Ecommerce Websites
            </h5>
          </div>
          <p class="text-sm mb-3">
            Shopify has ruled the roost for a number of years now, and although a powerful platform it's incredibly expensive if you require any level of flexibility or integration with external systems. Thankfully open source solutions such as MedusaJS have emerged that provide a headless, modular, API-based ecommerce platform that can be easily adapted for use with all modern frontend frameworks.
          </p>
        </div>

        <div class="py-1 flex flex-col gap-2">
          <div class="flex flex-row items-center gap-2">
            <Layers className="text-themepink w-6" />
            <h5 class="text-base text-themepink font-bold m-0">
              Full Stack Web Applications
            </h5>
          </div>
          <p class="text-sm mb-3">
            Headless, modular, API-based web technologies make it easy to evolve ideas into fully-fledged applications that can be adapted and integrated into existing systems. I've implemented solutions that span the full depth of the 'stack' - frontend, identity, authorisation, session and state management, databases, APIs and more. I look to work with modern JS-based backend frameworks such as NodeJS, Deno and Bun over archaic PHP-based frameworks and server components.
          </p>
        </div>

        <div class="py-1 flex flex-col gap-2">
          <div class="flex flex-row items-center gap-2">
            <Cog className="text-themepink w-6" />
            <h5 class="text-base text-themepink font-bold m-0">
              Workflows &amp; Automation
            </h5>
          </div>
          <p class="text-sm mb-3">
            I try to automate anything that's repetitive and shouldn't need human intervention. Creating workflow automations and CI/CD pipelines makes the task of deploying, maintaining and updating applications completely time-neutral. I like to add simple webhook-based integrations to provide notifications, reports and information via chat, email, WhatsApp etc.
          </p>
        </div>

        <div class="py-1 flex flex-col gap-2">
          <div class="flex flex-row items-center gap-2">
            <Bot className="text-themepink w-6" />
            <h5 class="text-base text-themepink font-bold m-0">
              Artificial Intelligence
            </h5>
          </div>
          <p class="text-sm mb-3">
            AI as an integral part of the development, debugging, refinement and refactoring process; and also as a core component of web applications themselves. Not because it's a buzzword, but because harnessing the power of LLMs, RAGs and other AI tools effectively is critical to remaining ahead of the competition and staying relevant to your audience, like or not!
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>
 

  <PricingAndInfoSection/>
  
</PageLayout>