---

import directus from "../lib/directus";
import { readSingleton, readItems } from "@directus/sdk";
const global = await directus.request(readSingleton('global'));
const pages = await directus.request(readItems('pages', { filter: { menus: { _contains: 'main-menu' }} } ));
---
{pages.map(page => (
    <li class="p-0 m-0 flex md:h-full h-16 text-xl md:text-lg">
      <a href={`/${page.slug}`} class="h-full w-full flex items-center py-2 m-0 px-3 lg:px-5 text-gray-200 border-y md:border-y-0 md:border-r md:border-blue-900/75 hover:bg-blue-800 hover:shadow-lg hover:drop-shadow-lg hover:scale-110 hover:border-0 transition-all duration-100 flex-col"><span class="flex pt-3 font-semibold">{page.title}</span><span class="flex text-sm">CMS-Generated</span></a>
    </li>
  ))}