---
import IndexLayout from "../../layouts/IndexLayout.astro";
import { getCollection } from 'astro:content';
import '@styles/custom.css';

// Get ALL blog posts without filtering first
const allPosts = await getCollection('blog');
console.log('All blog posts (unfiltered):', allPosts.map(post => ({
  title: post.data.title,
  slug: post.data.slug,
  status: post.data.status,
  has_logo: !!post.data.horizontal_logo
})));

// Then get filtered posts
const posts = await getCollection('blog', ({ data }) => {
  return data.status === 'published';
});

console.log('Filtered blog posts:', posts.map(post => ({
  title: post.data.title,
  slug: post.data.slug,
  status: post.data.status,
  has_logo: !!post.data.horizontal_logo
})));
---
<IndexLayout title="Blog" leftcol="blog" rightcol="tech">
  <section class="py-8 px-6 md:px-0">
    <div class="w-full">
      <slot />
    </div>
  </section>
</IndexLayout>

