---
import { Image } from 'astro:assets';
import simonBackwardsHead from '../images/simon-backwards-head.png';
---

<div class="flex flex-col gap-y-2 p-6 items-center">
  
    <div class="p-2">
      <Image src={simonBackwardsHead} alt="Simon Backwards Head" class="w-full rounded-lg shadow-lg shadow-gray-900/20" /> 123
   </div>
</div>
