@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    font-display: swap;
  }
}

@layer components {
    
    .keycard:hover .keycard-gradient {
      opacity: 1;
    }

    .keycard:hover .keycard-bg-image {
      opacity: 1;
    }




    .banner-gradient {
        @apply text-white bg-gradient-to-r from-pink-400 to-pink-500;
    }

    .banner .h3-headline {
        @apply bg-gradient-to-b from-[#fafafa] to-[#d752ff] bg-clip-text text-transparent;
    }
    .banner .h3-shadow {
        @apply bg-gradient-to-b from-[#ffffff] to-[#74a9ea] bg-clip-text text-transparent drop-shadow-[0_1px_1px_rgba(25,25,25,0.8)];
    }

    .styled-header {
        @apply text-white top-0;
    }
    .styled-header .grey-shiny-bottom {
        @apply text-white drop-shadow-[0px_1px_1px_rgba(0,0,0,0)];
    }
    .styled-header .grey-shiny-top {
        @apply bg-gradient-to-b from-blue-500 from-50% to-65% to-blue-800 bg-clip-text text-transparent drop-shadow-[1px_1px_0px_rgba(0,0,0,0.3)];
    }

}
@layer utilities {
    .text-shadow-lg {
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    }
}    
 