<section class="py-2 px-6 md:pr-0 pl-0 md:mb-2">

    <div class="flex flex-col gap-4 border border-[#dcdde0] dark:border-neutral-800 rounded-lg bg-white text-gray-900 my-3 dark:bg-background dark:text-primary">
        
        <div class="w-full border-b border-[#dcdde0] dark:border-neutral-800 px-8 py-2 ">
          <h2 class="text-xl font-bold mb-0 dark:text-themepurple">
            Pricing &amp; Essential Info
          </h2>
        </div>

        <div class="w-full px-8 pt-2 pb-4">
          <p class="text-sm mb-4">
            All quotes, invoices, payments etc. go through my company, Sideways Systems Ltd which is VAT registered in the UK. You can pay by card (Stripe) or bank transfer (GBP, USD and EUR accounts).
          </p>
          <p class="text-sm mb-4">
            I can work flexibly between the hours of 9:30am and 2am UK time, any day of the week. If you have a project that has specific time constraints, please drop me a line and I'll let you know if I can help. For ad-hoc bookings you can use my bookings system to find a time slot that works for you.
          </p>
          <p class="text-sm mb-4">
            85GBP per hour plus VAT is the starting price for a single hour. I have a pricing sheet detailing the many discount that can be applied to this rate depending on the work in question. If you'd like a copy of this, press the "Send Me a Pricing Sheet"
          </p>
          <p class="text-sm mb-4">
            Project pricing, ie. where I'm quoting prices based on a set of deliverables is almost always better value. If you have a particular project, or can articulate your requirements in terms of milestones or technical objectives, please ask me to provide a quote for you.
          </p>
          <p class="text-sm mb-4">
            Lastly, if you have a contracted role that you are looking to fill and think I might be a good fit, please get in touch.
          </p>
          <p class="text-sm mb-4">
            I live near Cambridge in the UK and have easy access to London by rail and most of the rest of the UK by car. I am also happy to travel internationally for short term contracts and project work. If you're unsure of a project's suitability - drop me a line.
          </p>
        </div>


    </div>
  </section>