---
import Layout from "../layouts/Layout.astro";
import directus from "../lib/directus";
import { readItems } from "@directus/sdk";
import { Markup, Markdown } from "astro-remote";
import MarkdownHeading from "../components/MarkdownHeading.astro";
import CodeBlock from "../components/CodeBlock.astro";
import "../styles/custom.css";
export async function getStaticPaths() {
  const pages = await directus.request(readItems("pages"));
  return pages.map((page) => ({
    params: { slug: page.slug, content: page.content, title: page.title, description: page.description },
    props: {
      content: page.content,
      title: page.title,
      description: page.description,
    },
  }));
}
const page = Astro.props;
---

<title>{page.title}</title>
<Layout title={page.title} description={page.description}>
  <main class="pb-10 py-4">
   
    <Markdown  
    set:html={page.content} 
    sanitize={{ allowComponents: true }} 
    components={{ 
      CodeBlock, 
      Heading: MarkdownHeading 
      }} />
  </main>
</Layout>