---
import PageLayout from '../layouts/PageLayout.astro';
---
<PageLayout title="Features" description="Features">
    <section class="p-12">
        <div>
        <h1 class="text-4xl font-bold">
            Features
        </h1>
        <h2 class="text-2xl font-bold pt-4 pb-2">
            Navbar
        </h2>
        <p>A fully customisable navbar that <a href="link">link</a> can be controlled through Astro or via Directus. Includes:
            <ul class="list-disc list-inside">
                <li class="ml-4 pl-0">Logo</li>
                <li class="ml-4 pl-0">Links</li>
                <li class="ml-4 pl-0">Socials</li>
                <li class="ml-4 pl-0">Search</li>
            </ul>
        </p>
    </div>
        
    </section>

</PageLayout>