---
import IndexLayout from "../layouts/IndexLayout.astro";
const global = { title: 'Home', description: 'Home' }
import Cards from "../components/Cards.astro";
---

<IndexLayout title="Tech" leftcol="blog" rightcol="tech">
  <section class="py-8 px-6 md:px-0">
    <div class="w-full">
      <h3 class="text-black text-2xl font-bold">Test</h3>
    </div>
  </section>
</IndexLayout>
