---
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";
import PageLayout from "../layouts/PageLayout.astro";
import Introduction from "../components/Introduction.astro";
import DynamicKeyCards from "../components/DynamicKeyCards.astro";
import FixedKeyCards from "../components/FixedKeyCards.astro";
import BlogListCards from "../components/BlogListCards.astro";
import TechListLines from "../components/TechListLines.astro";
const global = await directus.request(readSingleton("global"));

---

<PageLayout title={global.title} description={global.description}>
  <FixedKeyCards />
  <DynamicKeyCards />
  <Introduction />
  <div class="w-full flex flex-col gap-2 md:flex-row md:gap-6">
    <div class="w-full md:w-1/2 lg:w-2/3">
      <BlogListCards />
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3">
      <TechListLines columns={1} />
    </div>
  </div>
</PageLayout>
