---
import VendorLayout from "../layouts/VendorLayout.astro";
const global = { title: 'Home', description: 'Home' }

---

<VendorLayout>
<main>
  <slot />
  <!-- <FixedKeyCards />
  <DynamicKeyCards />
  <Introduction /> -->
</main>


</VendorLayout>