---
import PageLayout from '@layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import SimonBackwardsHead from '@images/covers/ai-fails.jpg';
import ChatIcon from '@components/Icons/ChatIcon.astro';
import { GetInTouchDialog } from '@components/GetInTouchDialog.tsx';
import '@styles/custom.css';
---

<PageLayout title="Me Professionally">
    <main class="flex flex-col gap-6 py-6">

    <div class="flex flex-col bg-white dark:bg-background rounded-lg border border-gray-200 dark:border-neutral-800">

    <div class="flex flex-col gap-6 border-b px-4 py-2 border-gray-200 dark:border-neutral-800">
        <h1 class="text-2xl font-semibold text-gray-900 dark:text-themepurple">Me Professionally</h1>        
    </div>

    <div class="grid grid-cols-9 gap-4">

        <div class="col-span-3 flex flex-col mx-0 w-full items-center border-r border-gray-200 dark:border-neutral-800 p-8 gap-y-4">
            <div class="flex w-full items-center">
                <Image src={SimonBackwardsHead} alt="My Backwards Head" class="object-cover rounded-lg border-4 border-white" />
            </div>
        
            <div class="block md:inline-block antialiased font-sans text-xl md:text-sm leading-normal font-normal w-full">
                <GetInTouchDialog client:only="react">
                    <ChatIcon class="flex-shrink-0 w-10 h-10 md:w-[18px] md:h-[18px] group-hover:fill-purple-900 !focus:fill-white group-focus:!fill-white fill-white" />
                </GetInTouchDialog>
            </div>
        </div>

        <div class="col-span-6 flex-col flex p-4">
            <p class="text-gray-700 dark:text-gray-200 mb-4 text-base">
                I have worked in IT for over 20 years and for the last 7 years I've been working mostly with open source technologies as a systems engineer, consultant and developer.
            </p>
            
            <p class="text-gray-700 dark:text-gray-200 mb-4 text-base">
                You can check out the <a href="/projects" class="text-blue-600 hover:text-blue-400 underline font-semibold">projects</a> page for specific projects I've recently been involved. Generally speaking, my time is split fairly evenly with systems deployment and development. Most of the projects I work involve some element of both, particularly more recently.
            </p>
            <p class="text-gray-700 dark:text-gray-200 mb-4 text-base">
                Having owned and run several small businesses, I have firsthand experience of working with many of the different technologies I help my clients implement or, in some cases, move away from. I flown the flag for both Microsoft and Google and know both companies' cloud products intimately.
            </p>
            <h4 class="mb-1 text-lg font-semibold text-gray-800 dark:text-themepurple">
                Open Source
            </h4>
            <p class="text-gray-700 dark:text-gray-200 mb-4 text-base">
                I am an avid open source enthusiast and live and breathe Linux and the open source universe that it's at the centre of. Historically, open source solutions haven't even made it into conversation for small and medium-sized businesses due to the perceived complexities and the absence of marketing noise. Thankfully, the last few years have seen open source thinking come to the fore, and many of the most exciting startups are building the companies on the principles of open source software.
            </p>
            <h4 class="mb-1 text-lg font-semibold text-gray-800 dark:text-themepurple">
                My Approach
            </h4>
            <p class="text-gray-700 dark:text-gray-200 mb-4 text-base">
                I work indepdendently but partner very closely with several other professionals that have skills that compliment my own. Under the guise of my business, <a href="https://sidewayssystems.co.uk" class="text-blue-600 hover:text-blue-400 underline font-semibold">Sideways Systems</a>, I take our collective skillset and use it to solve problems or realise new ideas.
            </p>

            <p class="text-gray-800 dark:text-gray-500 mb-4 text-base font-semibold">
                Please get in touch with me if you have a project you'd like to discuss. I have recently finished working on a long term client project and am keen to find a new, exciting project to get involved in.
            </p>

        </div>
    </div>  
</div>
    </main>
</PageLayout>

