---
import GithubIcon from '@/components/SocialIcons/GithubIcon.astro';
import XIcon from '@/components/SocialIcons/XIcon.astro';
import MastadonIcon from '@/components/SocialIcons/MastadonIcon.astro';
import BlueSkyIcon from '@/components/SocialIcons/BlueSkyIcon.astro';
const blueStyle = "border-gray-600 border bg-blue-900"
const attachedLayout = "my-0 rounded-b-none rounded-t-lg md:mb-0"
---
<div class={`md:flex-row gap-1 flex flex-grow flex-col items-center justify-between font-poppins  w-full max-w-lg  
  py-3 px-3
  sm:px-4 sm:text-lg
  md:h-10 md:max-h-10 md:min-h-10 md:px-4 ${attachedLayout} ${blueStyle}
  lg:h-10
  2xl:max-w-2xl`}>
<div class="hidden sm:flex items-center gap-x-2">
  <GithubIcon class="w-6 h-6 hover:scale-125 text-white" href="https://github.com/sigreer"/>
  <XIcon class="w-6 h-6 hover:scale-125 text-white" href="https://x.com/sigreer"/>
  <MastadonIcon class="w-6 h-6 hover:scale-125 text-white" href="https://fosstodon.org/@simongreer"/>
  <BlueSkyIcon class="w-8 h-7 hover:scale-125 text-white" href="https://bsky.social/sigreer"/>
</div>
</div>

