---
import DarkLightToggle from '@components/Header/DarkLightToggle.astro';
import GithubIcon from '@components/SocialIcons/GithubIcon.astro';
import XIcon from '@components/SocialIcons/XIcon.astro';
import MastadonIcon from '@components/SocialIcons/MastadonIcon.astro';
import BlueSkyIcon from '@components/SocialIcons/BlueSkyIcon.astro';
const blueStyle = "border-gray-600 border bg-blue-900 dark:bg-background border-b-0 dark:border-neutral-800"
const attachedLayout = "my-0 rounded-b-none rounded-t-lg md:mb-0"
---
<div class={`md:flex-row gap-1 flex flex-grow flex-col items-center justify-between w-full max-w-2xl
  py-3 px-3
  sm:px-4 sm:text-lg
  md:h-10 md:max-h-10 md:min-h-10 md:px-4 ${attachedLayout} ${blueStyle}
  lg:h-10`}>
<div class="hidden sm:flex items-center gap-x-2">
  <GithubIcon class="w-6 h-6 hover:scale-125 text-white dark:text-gray-200" href="https://github.com/sigreer"/>
  <!-- <XIcon class="w-6 h-6 hover:scale-125 text-white dark:text-gray-200" href="https://x.com/sigreer"/> -->
  <!-- <MastadonIcon class="w-6 h-6 hover:scale-125 text-white dark:text-gray-200" href="https://fosstodon.org/@simongreer"/> -->
  <BlueSkyIcon class="w-8 h-7 hover:scale-125 text-white dark:text-gray-200" href="https://bsky.app/profile/sigreer.bsky.social"/>
</div>


<DarkLightToggle />

</div>
