---
import { Image } from 'astro:assets';
import Profile from '../../images/icons/account-circle-outline.svg';
---

<a href="#" class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
<div role="button" tabindex="0" class="w-full p-3 rounded-lg text-start leading-tight transition-all hover:bg-opacity-80 focus:bg-opacity-80 active:bg-opacity-80
outline-none flex items-center gap-2 py-2 pr-4">
      <Image src={Profile} alt="Profile" class="w-[20px] h-[20px]"/>
      About Me
</div>
  </a>