---
import HeadphonesIcon from '@icons/HeadphonesIcon.astro';
const currentPath = Astro.url.pathname;
const isActive = currentPath === '/iamcurrently';
---
<a  href="/currently" 
    class:list={["block antialiased font-sans text-xl md:text-sm leading-normal font-normal",
    isActive ? "md:rounded-lg" : "text-black"
]}>
    <div role="button" tabindex="0" class:list={["w-full group pl-3 pr-4 py-2 md:rounded-lg text-start leading-tight transition-all outline-none flex items-center gap-2 hover:bg-purple-200 hover:bg-opacity-80 hover:text-purple-900",
    isActive && "bg-pink-700 text-white focus:bg-pink-500 focus:text-white"
    ]}>
        <HeadphonesIcon
            class:list={[
                "w-10 h-10 md:w-[18px] md:h-[18px] fill-black group-hover:fill-purple-900",
                isActive && "!focus:fill-white group-focus:!fill-white group-hover:!fill-purple-900 fill-white"
            ]}
        />
        Currently
    </div>
</a>