---
import { Image } from 'astro:assets';
import SimonBackwardsHead from '@images/simon-backwards-head.png';
//import bunIcon from '../images/bunicon.svg';
---
<div class="flex-col flex">
    <div class="flex">
    <h2
      class="mb-6 text-base md:text-xl font-semibold uppercase text-gray-900 dark:text-white">
      About Me
    </h2>
    </div>
    <div class="flex flex-row">
        <div class="flex max-h-56 max-w-56">
            <Image 
                src={SimonBackwardsHead} 
                alt="My Backwards Head"
                class="object-cover"
            />
        </div>
        <div class="flex-col flex px-4">
            <p>
                About Me
            </p>
        </div>
    </div>  
</div>
        
        
       
