---
 import { unified } from 'unified'
  import remarkParse from 'remark-parse'
  import remarkRehype from 'remark-rehype'
  import rehypeStringify from 'rehype-stringify'
  import rehypePrettyCode from 'rehype-pretty-code'
  import { transformerCopyButton } from '@rehype-pretty/transformers' with { type: 'json' };
  const { lang, code, ...props } = Astro.props;
  async function highlightCode(code: string) {
    const file = await unified()
      .use(remarkParse)
      .use(remarkRehype)
      .use(rehypePrettyCode, {
        transformers: [transformerCopyButton({ feedbackDuration: 2_000, visibility: 'hover' })],
        keepBackground: true,
      })
      .use(rehypeStringify)
      .process(code)

    return String(file)
  }


  const highlightedSnippet = await highlightCode(code)

---

<div class="my-4"><pre class={`language-${lang} sg-code-block`} ><code set:html={highlightedSnippet}></code></pre></div>



