---
import { createHighlighter } from 'shiki';
const theme = 'nord';
const { code, lang, ...props } = Astro.props;
const highlighter = await createHighlighter({
     themes: [theme],
     langs: [lang],
 });


 const highlighted = highlighter.codeToHtml(code, {
     lang: lang,
     theme: theme,
 });

console.log(code);
console.log(highlighted);
---


<div lang={`${lang}`} set:html={highlighted} class="rounded-lg"></div>