<div class="flex flex-col gap-y-2 p-6 items-center">
  
    <div class="p-2">
      <img src="/images/simon-and-theo.jpg" alt="Profile Picture" class="w-64 h-64 rounded-full border-8 border-white shadow-lg shadow-gray-900/20 drop-shadow-lg" /> 
    </div>
  <div class="flex flex-col gap-y-2 p-6">
    I live in Cambridgeshire in the UK, and although the majority of my work is done in my home office, I'm always looking for excuses to travel. Please feel free to drop me a line if you'd like to work together or just say hi!
    </div>

</div>
