---
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";
const global = await directus.request(readSingleton('global'));
import ContentTagCloud from './ContentTagCloud.astro';
import SocialIcons from './SocialIcons.astro';
import PoweredBy from './PoweredBy.astro';
import About from './About.astro';
const socials = {
  ...(global.twitter && { twitter: global.twitter }),
  ...(global.github && { github: global.github }),
  ...(global.mastodon && { mastodon: global.mastodon }),
  ...(global.dribbble && { dribbble: global.dribbble }),
  ...(global.linkedin && { linkedin: global.linkedin }),
  ...(global.instagram && { instagram: global.instagram }),
  ...(global.facebook && { facebook: global.facebook }),
  ...(global.dev && { dev: global.dev }),
};

---
<footer class="w-full">
<div class="px-4 md:py-10 bg-blue-900 sm:p-6 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl">
      <div class="md:flex md:justify-between">
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div class="px-4">
                  <h2 class="mb-6 text-md font-semibold uppercase text-white">Resources</h2>
                  <ul class="text-gray-200 text-sm">
                      <li class="mb-4">
                          <a href="https://flowbite.com" class="hover:underline">Link to a Project 1 Link to a Project 1</a>
                      </li>
                      <li class="mb-4">
                          <a href="https://tailwindcss.com/" class="hover:underline">Link to a Project 2 Some more text here</a>
                      </li>
                      <li class="mb-4">
                        <a href="https://flowbite.com" class="hover:underline">Link to a Project 3 A bit more text here</a>
                    </li>
                    <li class="mb-0">
                        <a href="https://tailwindcss.com/" class="hover:underline">Link to a Project 4 some more padding</a>
                    </li>
                  </ul>
              </div>
              <div class="px-4">
                <h2 class="mb-6 text-md font-semibold uppercase text-white">Resources</h2>
                <ul class="text-gray-200 text-sm">
                    <li class="mb-4">
                        <a href="https://flowbite.com" class="hover:underline">Link to a Project 1 Link to a Project 1</a>
                    </li>
                    <li class="mb-4">
                        <a href="https://tailwindcss.com/" class="hover:underline">Link to a Project 2 Some more text here</a>
                    </li>
                    <li class="mb-4">
                      <a href="https://flowbite.com" class="hover:underline">Link to a Project 3 A bit more text here</a>
                  </li>
                  <li class="mb-0">
                      <a href="https://tailwindcss.com/" class="hover:underline">Link to a Project 4 some more padding</a>
                  </li>
                </ul>
            </div>
            <div class="px-4">
              <h2 class="mb-6 text-md font-semibold uppercase text-white">Resources</h2>
              <ul class="text-gray-200 text-sm">
                  <li class="mb-4">
                      <a href="https://flowbite.com" class="hover:underline">Couple of words</a>
                  </li>
                  <li class="mb-4">
                      <a href="https://tailwindcss.com/" class="hover:underline">Short link</a>
                  </li>
                  <li class="mb-4">
                    <a href="https://flowbite.com" class="hover:underline">Some text</a>
                </li>
                <li class="mb-0">
                    <a href="https://tailwindcss.com/" class="hover:underline">A link</a>
                </li>
                </ul>
            </div>
          </div>
          <div class="p-4"><PoweredBy /></div>
      </div>

  </div>
  </div>
  <div class="w-full sm:flex sm:items-center sm:justify-between bg-pink-400 p-4">
    <div class="mb-6 md:mb-0">
      <a href="https://simongreer.co.uk" class="flex items-center">
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SimonGreer.co.uk</span>
      </a>
  </div>
    <span class="text-sm text-white sm:text-center dark:text-gray-400"><a href="https://flowbite.com" class="hover:underline">SimonGreer.co.uk</a>. Opinions are my own. If you're offended, go elsewhere.
    </span>
  </div>  
</footer>