---
import PoweredBy from './PoweredBy.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const techs = await getCollection('tech');
---
<footer class="w-full">
<div class="px-4 md:py-10 bg-blue-900 sm:p-6rounded-t-lg">
  <div class="mx-auto max-w-screen-xl">
      <div class="md:flex md:justify-between">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 sm:gap-6 md:grid-cols-9 w-full">
              <div class="px-4 w-full col-span-4">
                  <h2 class="mb-6 text-md font-semibold uppercase text-white">Recent Blog Posts</h2>
                  <ul class="text-gray-200 text-sm">
                    {
      posts.slice(0, 4).map((post: import('astro:content').CollectionEntry<'blog'>) => (
                      <li class="mb-4">
                          <a href={`/blog/${post.data.slug}`} class="hover:underline">{post.data.title}</a>
                      </li>
                    ))
                  }
                  </ul>
              </div>
            
            <div class="px-4 w-full col-span-3">
              <h2 class="mb-6 text-md font-semibold uppercase text-white">Links</h2>
              <ul class="text-gray-200 text-sm">
                  <li class="mb-4">
                      <a href="https://flowbite.com" class="hover:underline">Couple of words</a>
                  </li>
                  <li class="mb-4">
                      <a href="https://tailwindcss.com/" class="hover:underline">Short link</a>
                  </li>
                  <li class="mb-4">
                    <a href="https://flowbite.com" class="hover:underline">Some text</a>
                </li>
                <li class="mb-0">
                    <a href="https://tailwindcss.com/" class="hover:underline">A link</a>
                </li>
                </ul>
            </div>

                <PoweredBy iconFill="fill-white" socialIconSize="h-14 w-14 max-w-14 max-h-14 m-0" />
          </div>
          
      </div>

  </div>
  </div>
  <div class="w-full sm:flex sm:items-center sm:justify-between bg-pink-400 p-4 rounded-b-lg">
    <div class="mb-6 md:mb-0">
      <a href="https://simongreer.co.uk" class="flex items-center">
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SimonGreer.co.uk</span>
      </a>
  </div>
    <span class="text-sm text-white sm:text-center"><a href="https://flowbite.com" class="hover:underline">SimonGreer.co.uk</a>. Opinions are my own. If you're offended, go elsewhere.
    </span>
  </div>  
</footer>