---
import '../styles/custom.css';
---
<section class="relative overflow-hidden group bg-pink-400 h-4 shadow-[0px_0px_7px_0px_rgba(3px,_0,_0,_0.4)]" data-style="banner">
  <div class="flex items-center justify-between 
  mx-auto h-16 max-h-16
  md:h-12 md:max-h-12 md:py-0
  lg:h-14 lg:max-h-14      
  xl:h-14 xl:max-h-14
  2xl:h-14 2xl:max-h-14
  3xl:h-14 3xl:max-h-14
  sm:w-full sm:max-w-full sm:px-4
  md:w-full md:max-w-full md:px-8
  lg:w-full lg:max-w-full lg:px-8
  xl:w-full xl:max-w-full xl:px-16 
  2xl:w-full 2xl:max-w-2xl 2xl:px-16
  3xl:w-full 3xl:max-w-2xl 3xl:px-16
  sm:text-lg font-poppins px-3
  ">
  
</div>

</section>