---
import directus from "../lib/directus";
import { readSingleton } from "@directus/sdk";
const global = await directus.request(readSingleton('global'));
import { Image } from 'astro:assets';
import bunIcon from '../images/bunicon.svg';
import tailWindIcon from '../images/tailwindicon.svg';
import reactIcon from '../images/reacticon.svg';
import directusIcon from '../images/directusicon.svg';
import astroIcon from '../images/astroicon.svg';
import typescriptIcon from '../images/typescripticon.svg';
---
<section class="flex flex-col md:pt-8 pb-4 gap-4">
    <div class="row-span-1"></div>
       
        <p class="text-lg lg:text-xl text-slate-800 ">{global.introduction}</p>
       
</section>