---
const { as: Component, href, text } = Astro.props;

let headingClass = '';
switch (Component) {
  case 'h1':
    headingClass = 'text-4xl font-bold';
    break;
  case 'h2':
    headingClass = 'text-3xl font-semibold';
    break;
  case 'h3':
    headingClass = 'text-2xl font-medium';
    break;
  case 'h4':
    headingClass = 'text-xl font-normal';
    break;
  default:
    headingClass = 'text-base';
}
---
<Component class={headingClass}>
  {href ? (<a href={href}>{text}</a>) : text}
</Component>