---
import Blocks from './Navbar/Blocks.astro';
import Resources from './Navbar/Resources.astro';
import Tech from './Navbar/Tech.astro';
import BlogPosts from './Navbar/BlogPosts.astro';
import Projects from './Navbar/Projects.astro';
import AboutMe from './Navbar/AboutMe.astro';
---
<nav class="mx-auto max-w-screen-xl px-6 py-3">
  <div class="bg-white flex-grow w-full px-3 sm:px-4 md:px-8 xl:px-16 2xl:max-w-2xl sm:text-lg font-poppins mx-auto border-2 border-gray-600 rounded-lg drop-shadow-[0_4px_3px_rgb(0,0,0,0.5)]">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <a href="#" class="mr-4 cursor-pointer py-1.5 font-base">
          SimonGreer.co.uk
        </a>
      </div>
      <div class="flex items-center">
        <Blocks/>
        <Resources/>
        <Tech/>
        <BlogPosts/>
        <Projects/>
        <AboutMe/>
      </div>
    </div>
  </div>
</nav>