---
import Tech from '@components/Navbar/Tech.astro';
import BlogPosts from '@components/Navbar/BlogPosts.astro';
import Projects from '@components/Navbar/Projects.astro';
import AboutMe from '@components/Navbar/AboutMe.astro';
import LogoIcon from '@components/Navbar/LogoIcon.astro';
import Currently from '@components/Navbar/Currently.astro';
---
<nav class="bg-white flex-grow flex-col w-full px-3 sm:px-4 md:px-4 2xl:max-w-2xl sm:text-lg font-poppins mx-auto border-gray-600 border rounded-lg drop-shadow-[0_3px_3px_rgb(0,0,0,0.3)] max-w-lg py-3 md:max-h-16 md:min-h-16">
    <div class="flex items-center justify-between flex-row gap-2">
      <div class="flex items-center shrink-0">
      <LogoIcon class="w-[24px] h-[24px]"/>
      <a href="/" class="mr-4 cursor-pointer py-1.5 text-base">
          SimonGreer.co.uk
        </a>
      </div>
      <div class="flex items-center flex-grow gap-x-2 justify-end">
        <Currently/>
        <Tech/>
        <BlogPosts/>
        <Projects/>
        <AboutMe/>
      </div>
    </div>
  </div>
</nav>