---
import GithubIcon from './SocialIcons/GithubIcon.astro';
import XIcon from './SocialIcons/XIcon.astro';
import MastadonIcon from './SocialIcons/MastadonIcon.astro';
---
<div class="md:flex-row gap-1 flex flex-grow flex-col items-center justify-between font-poppins md:rounded-lg w-full max-w-lg border-gray-600 border bg-blue-900 
  my-0 py-3 px-3
  sm:px-4 sm:text-lg
  md:h-10 md:max-h-10 md:min-h-10 md:px-4 md:mb-2
  lg:h-10
  2xl:max-w-2xl">
<div class="hidden sm:flex items-center gap-x-2">
  <a href="https://github.com/sigreer" target="_blank" class="text-gray-200"><GithubIcon class="w-6 h-6 hover:scale-125 text-white"/></a>
  <a href="https://x.com/sigreer" target="_blank" class="text-gray-200"><XIcon class="w-6 h-6 hover:scale-125 text-white"/></a>
  <a href="https://fosstodon.org/@simongreer" target="_blank" class="text-gray-200"><MastadonIcon class="w-6 h-6 hover:scale-125 text-white"/></a>
</div>
</div>

</section>