---
import { readItems } from "@directus/sdk";
import directus from "../lib/directus";
import TechListLine from "./TechListLine.astro";
const techguides = await directus.request(readItems("techguides", {
  fields: ['*'],
}));
const tags = await directus.request(readItems("tags", {
  fields: ['*'],
}));
---

<section class="py-8">
  <div class="w-full bg-pink-700 rounded-t-lg">
    <h3 class="w-fit text-3xl font-bold relative my-2 px-4 py-3 text-gray-100">Tech Focus</h3>
  </div>
    <ul class="flex flex-col gap-y-4 md:gap-y-4 lg:gap-y-4">
        {
          techguides.slice(0, 6).map((techguide) => (
            <TechListLine
              title={techguide.title}
              slug={techguide.slug}
              content={techguide.excerpt}
              tags={techguide.tags.map(tag => tags.find(t => t.id === tag)?.name).filter(Boolean)}
              image={techguide.image}
            />
          ))
        }
      </ul>
</section>
