---
import IndexLayout from "../../layouts/IndexLayout.astro";
// @ts-ignore
import { CollectionEntry, getCollection, render } from 'astro:content';
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.data.slug },
    props: { project: {...project.data} }
  }));
}

const { project } = Astro.props;;
const { item, title, slug, coverimage } = Astro.props;
const allImages = import.meta.glob<{ default: ImageMetadata }>('../../images/covers/*', { eager: true });
const ImageSrc = coverimage ? allImages[`../../images/covers/${coverimage}`]?.default : null;

const { Content, headings } = await render(project);
---
<!-- title: string;
slug: string;
toc?: any;
horizontal_logo?: ImageMetadata | null;
cover_image?: ImageMetadata | null;
showTOC?: boolean;
showRelatedPosts?: boolean; -->

<IndexLayout title={title} leftcol="project" rightcol="tech">
  <h1>{title}</h1>
<Content />
</IndexLayout>