---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection, render } from 'astro:content';
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.data.slug },
    props: { project: {...project.data} }
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<BlogLayout title={project.title}>
  <h1>{project.title}</h1>
<Content />
</BlogLayout>