---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import PostLayout from "../../layouts/PostLayout.astro";
import '@styles/custom.css';
---

<PostLayout title="Projects" slug="projects">
<ul>
  {projects.map(project => (
    <li><a href={`/blog/${project.data.slug}`}>{project.data.title}</a></li>
  ))}
</ul>
</PostLayout>