---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import '@styles/custom.css';
---

<ProjectLayout title="Projects">
<ul>
  {projects.map(project => (
    <li><a href={`/blog/${project.data.slug}`}>{project.data.title}</a></li>
  ))}
</ul>
</ProjectLayout>