---
interface Props {
  link: string;
}

const { link } = Astro.props;
---

<a href={link} class="text-lg font-semibold text-blue-700 hover:text-pink-400 transition-colors duration-300 group flex items-center pr-2">
    <span>SHOW ALL</span>
    <span class="inline-block ml-1 group-hover:animate-arrow-fade">&gt;</span>
</a>