---
import Footer from "@components/Footer/Footer.astro";
import PreHeader from "@components/Header/PreHeader.astro";
import { ClientRouter } from 'astro:transitions';
import '@styles/fonts.css';
import '@styles/custom.css';
import '@styles/globals.css';
import NavBar from "@components/Header/Navbar/NavBar.astro";
interface Props {
  title?: string;
  description?: string;
}

const { title = "SimonGreer.co.uk", description = "A website about beats, beeps and other feats" } = Astro.props;
const global = { title: 'SimonGreer.co.uk' };
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <title>{title ? `${global.title} - ${title}` : global.title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/web-app-manifest-512x512.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/web-app-manifest-192x192.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <ClientRouter />
  </head>
  <body class="bg-gray-100 dark:bg-background min-h-screen">
    <div class="flex flex-col max-w-2xl mx-auto md:py-6 space-y-0">
      <div class="hidden md:visible md:block md:w-full"><PreHeader /></div>
      <NavBar />
      <slot />
      <Footer />
    </div>
  </body>
</html> 