---
import Footer from "@components/Footer.astro";
import PreHeader from "@components/PreHeader.astro";
import { ClientRouter } from 'astro:transitions';
import '@styles/custom.css';
import '@fontsource/poppins';
import NavNew from "@components/NavNew.astro";
interface Props {
  title?: string;
  description?: string;
}

const { title = "SimonGreer.co.uk", description = "A website about beats, beeps and other feats" } = Astro.props;
const global = { title: 'SimonGreer.co.uk' };
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title ? `${global.title} - ${title}` : global.title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <ClientRouter />
  </head>
  <body class="bg-gray-100 font-poppins min-h-screen flex flex-col max-w-lg mx-auto md:py-6">
    <PreHeader />
    <NavNew />
    <slot />
    <Footer />

    <script>
      import "../utils/tagColors.ts";
    </script>

  </body>
</html> 