---
import BaseLayout from "@layouts/BaseLayout.astro";
import '@styles/custom.css';
import '@fontsource/poppins';
interface Props {
  title: string;
}
const { title } = Astro.props;
---
<BaseLayout title={title}>
  <main class="flex-grow w-full sm:text-lg font-poppins mx-auto">
    <slot />
  </main>
</BaseLayout>