---
import HeaderBar from "../components/HeaderBar.astro";
import Footer from "../components/Footer.astro";
import Navbar from '../components/Navbar.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/custom.css';
import Prose from '../components/Prose.astro';
import '@fontsource/poppins';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content=""
    />
    
    <ClientRouter />
  </head>
  <body class="bg-gray-100 font-poppins min-h-screen flex flex-col">
    
    <Navbar />
    <HeaderBar />
    <main
      class="
        flex-grow
        sm:w-full sm:max-w-full sm:px-4
        md:w-full md:max-w-full md:px-8
        lg:w-full lg:max-w-full lg:px-8
        xl:w-full xl:max-w-full xl:px-16 
        2xl:w-full 2xl:max-w-2xl 2xl:px-16
        3xl:w-full 3xl:max-w-2xl 3xl:px-16
        sm:text-lg font-poppins mx-auto px-3">
      <Prose>
        <slot />
      </Prose>
      <script src="../utils/tagColors.ts"></script>
    </main>
    <Footer />
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
  </body>
</html>