---
import TechStuff from '@components/Header/Navbar/TechStuff.astro';
import BlogPosts from '@components/Header/Navbar/BlogPosts.astro';
import AboutMe from '@components/Header/Navbar/AboutMe.astro';
import LogoIcon from '@components/Header/Navbar/LogoIcon.astro';
---

<nav>
    <div class={`md:flex-row gap-0 space-y-0 flex flex-grow flex-col items-center justify-between font-poppins w-full max-w-lg border-[#c8c9cc] dark:border-neutral-800 border my-0 md:rounded-t-none md:rounded-b-lg md:mb-0 bg-white dark:bg-neutral-950
  mx-auto py-3 px-3
  sm:px-4 sm:text-lg
  md:h-24 md:max-h-16 md:min-h-16 md:px-4
  lg:h-28
  2xl:max-w-2xl`}>
      <div class="flex items-center shrink-0">
        <LogoIcon class="w-[24px] h-[24px]"/>
        <a href="/" class="mr-4 cursor-pointer py-1.5 text-2xl text-gray-700 dark:text-gray-200 font-semibold">
          SimonGreer.co.uk
        </a>
      </div>
      


      <div id="navbar-default" 
          class="items-center flex-grow gap-x-1 justify-end hidden md:flex w-full p-0 m-0 mt-16 md:mt-0 dark:bg-neutral-950 bg-white absolute top-0 h-[100vh] min-h-[100vh] md:min-h-full md:top-0 md:relative md:visible md:w-auto md:h-full">
        <BlogPosts/>
        <TechStuff/>
        <AboutMe/>
      </div>
      

  <div class="block pr-6 md:hidden">
    <button id="mobile-menu-button" type="button" class="flex items-center m-1 p-2 w-12 h-12 justify-center text-black rounded-lg md:hidden hover:bg-white md:hover:bg-blue-800 hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-gray-200 absolute right-2 top-1 z-50" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="h-full aspect-w-1 aspect-h-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
  </div>


<script>
  document.addEventListener('astro:page-load', () => {
    const button = document.getElementById('mobile-menu-button');
    const menu = document.getElementById('navbar-default');
    
    if (button && menu) {
      button.addEventListener('click', () => {
        menu.classList.toggle('hidden');
      });
    }
  });
</script>

</nav>



