---
const { isActive = false, link } = Astro.props;

export interface Props {
  isActive?: boolean;
  link: string;
  label: string;
}
---
<div class="relative group">
<a href={link} class:list={[
  "block antialiased font-sans text-xl md:text-sm leading-normal font-normal w-full group/button",
  isActive ? "md:rounded-lg" : "text-black dark:text-gray-200 flex flex-row gap-2"
]}>
  <div  class:list={[
    "w-full md:rounded-lg text-start leading-tight transition-all outline-none flex items-center gap-2 pl-3 pr-4 py-2 hover:bg-purple-200 group-hover:bg-purple-200 dark:hover:bg-background dark:group-hover:bg-background hover:bg-opacity-80 hover:text-purple-900 group-hover:text-purple-900 dark:border-neutral-800 dark:border",
    isActive && "bg-pink-700 text-white focus:bg-pink-500 focus:text-white hover:bg-purple-200 hover:text-purple-900 dark:bg-pink-700 dark:border-neutral-800 dark:border dark:hover:bg-background "
  ]}>
    <slot />
  </div>
</a>
 
    <div class="absolute right-0 top-full pt-1 z-50">
        {Astro.slots.has('submenu') && (
            <div class="hidden group-hover:block w-64 bg-white shadow-lg dark:bg-background dark:border-neutral-800 dark:border rounded-md">
                <slot name="submenu" />
            </div>
        )}
    </div>
</div>

