---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection, render } from 'astro:content';
export async function getStaticPaths() {
  const techs = await getCollection('blog');
  return techs.map(tech => ({
    params: { slug: tech.id },
    props: { tech: {...tech} },
  }));
}

const { tech } = Astro.props;
const { Content } = await render(tech);
---

<BlogLayout title={tech.data.title}>
  <h1>{tech.data.title}</h1>
<Content />
</BlogLayout>