---
import { getCollection } from 'astro:content';
const techs = await getCollection('tech');
import TechLayout from "../../layouts/TechLayout.astro";
import '@styles/custom.css';
---

<TechLayout title="Tech">
<ul>
  {techs.map(tech => (
    <li><a href={`/tech/${tech.data.slug}`}>{tech.data.title}</a></li>
  ))}
</ul>
</TechLayout>