---
import TechLayout from "../../layouts/TechLayout.astro";
import BlogListCards from "../../components/BlogListCards.astro";
import TechLines from "../../components/TechLines.astro";
const global = { title: 'Home', description: 'Home' }

---

<TechLayout title={global.title} description={global.description}>
<main>
  <slot />
  <!-- <FixedKeyCards />
  <DynamicKeyCards />
  <Introduction /> -->
</main>


</TechLayout>